<%- include("../partials/header.ejs") %>
<img class="profile" src="image/profile.jpg" alt=" profile">
<p>
I am frank opone a full stack web developer based in united kingdom,
A web developer is a professional who designs, builds, and maintains websites. 
They are responsible for ensuring that the website is visually appealing, user-friendly, and functional. 
A web developer must have a strong 
understanding of programming languages such as HTML, CSS, and JavaScript. They should also be familiar 
with web development frameworks such as React, Angular, and Vue.js.</p>


<%- include("../partials/footer.ejs") %>